*, *::before, *::after {
  box-sizing:border-box;
  padding:0;
  margin:0;
}

html{
  font-size: 10px;
}

body{
  color: #333333;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1rem;
  font-optical-sizing: auto;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
}

.nav { /*container for the top nav*/
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    width: 100%;
}

.header{
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  background-color: white;
}

.logo{
  padding: 2rem 0.5rem 2rem 2rem;
  display: flex;
  justify-content: left;
  align-items: center;
  flex:1
}

.logo img{
width: 60%;
}

.header .menu{/*flex container*/
  display: flex;
  align-items: center;
  margin-left: 3rem;
  list-style:none;
  justify-content: center;
}

#btnScrollToTop {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #A9A9A9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
}

.btn-default {
  background-color: #0B6254;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  margin-right: 2rem;
}

/* Hover effect */
.btn-default:hover {
    background-color: #ffffff;
    color: #0B6254;
    border: 2px solid #0B6254;
}

.hero {
  display: flex;
  flex-direction: row; /* Align items horizontally */
  flex-wrap: wrap; /* Wrap items to a new line if needed */
  background-image: linear-gradient(to top, #FFEDD7, #ffffff);
  background-size: cover; /* Cover the entire element with the background image */
  background-position: center; /* Center the background image */
  padding-bottom: 5rem;
}

.content {
  flex: 1; /* Occupy remaining space */
  padding: 20px; /* Adjust padding as needed */
}

.statement h1{
  color: black;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0.2;
  position: relative;
}

.statement h2{
  color: black;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.2;
  position: relative;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.work1 {
  flex: 1; /* Occupy remaining space */
  /*padding: 20px; /* Adjust padding as needed */
}

.statement {
  /*margin-bottom: 40px; /* Add margin between text and button */
  padding-left: 10rem;
  padding-top: 10rem;
}

.work1 img {
  max-width: 100%; /* Ensure image does not exceed container width */
  width: 70%;
}

.about{
  display:grid;
  grid-template-columns: 2fr 1fr;
  /*gap: 30px;*/
  margin-top: 5rem;
}

.about .content{
  /*padding:20px;*/
  padding-left: 20rem;
  padding-right: 5rem;
}

.about p{
  color: black;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.2;
  position: relative;
  margin-bottom: 2rem;
  margin-top: 2rem;
  max-width: 680px;
  line-height: 1.7;
}

.about .image img{
  max-width: 100%;
  width: 60%;
}

/*----How we Work Together---*/
.how-we-work {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 120px;
  margin-top: 5rem;
  background-size: cover;
  background-position: center;
}

.section-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 22px;
}

.work-step {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.step-number {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0B6254;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.step-content {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  color: #073E35;
}

.step-description {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.2;
}

/*---What we offer---*/
.services {
 max-width: 900px;
 margin: 0 auto;
 padding: 20px;
}

.services .section-title {
  text-align: left;
  margin-bottom: 22px;
  margin-top: 5rem;
}

.service-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service {
  width: calc(50% - 20px); /* Each service takes up one-third of the space with 20px spacing between */
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #0B6254; /* Border around each service */
  border-radius: 5px;
  text-align: left;
}

.service-icon img {
  max-width: 60px; /* Adjust size of the icon */
  margin-bottom: 10px; /* Spacing between icon and title */
}

.service-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.service-description {
  font-size: 16px;
  color: #333333;
  padding-bottom: 2rem;
}

.call-to-action {
  width: calc(50% - 20px);
  padding: 20px;
  text-align: left;
}

.call-to-action p {
  margin-bottom: 3rem; /* Adjust spacing between paragraph and button */
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.2;
  color: #073E35;
}

/*---recentWork---*/
.recent-work-cover{
    background-color: #F5F5F5;
}

.recent-work {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  padding-bottom: 5rem;
}

.recent-work .section-title {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 30px;
}

.work-item {
  display: flex;
  align-items: flex-start; /* Align items to the top */
}

.work-image {
  flex: 0 0 50%; /* Take up 50% of the container width */
  margin-right: 20px; /* Add spacing between image and testimonial */
}

.work-image img {
  width: 100%; /* Ensure the image fills its container */
  display: block;
}

.website-link {
  display: block;
  margin-top: 5px; /* Add spacing between image and link */
  color: #828282;
}

.testimonial {
  flex: 1; /* Take up remaining space */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 6rem;
}

.testimonial img {
  display: block;
  width: 60px; /* Adjust size of the quotation mark */
  margin-bottom: 10px; /* Add spacing between quotation mark and text */
}

.testimonial-text {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  font-style: italic; /* Italicize the testimonial text */
  margin-bottom: 10px; /* Add spacing between text and author */
}

.testimonial-author {
  font-weight: bold; /* Make author name bold */
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
}

/*---Footer---*/
.footer {
  background-color: #ffffff; /* Footer background color */
  color: #333333; /* Text color */
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 2rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-right: 100px;
}

.footer-logo img {
  width: 15%; /* Adjust logo size as needed */
}

.footer-contact .email-link {
  color: #333333; /* Link color */
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer-contact .email-link i {
  margin-right: 10px; /* Adjust icon spacing */
}

/* Copyright styling */
.footer .copyright {
  text-align: start;
}

.footer .copyright h4 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;

}


@media (min-width: 500px) {}


@media screen and (min-width: 768px) { /*----TABLET-----*/
}

@media screen and (min-width: 991px){/*----Desktop---*/


.logo{
  padding-left: 5rem;
}

.logo img{ /*desktop logo size*/
 width: 15%;
}

.page a{
  padding-right: 5rem;
}

.title p{
  font-size: 2rem;
  width:140vh;
}

}
